.navbar-brand
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: center;
    text-decoration-color: white;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}