<!doctype html>
<html lang='en'>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta name = "content" author = "Rigved Alankar">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='styles/style.css')}}">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <a class="navbar-brand" href="#">Image Processing using OpenCV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br>
    <br>
    <br>
    <img src="/static/images/welcome.gif" />   
    <div class="container">
        
           <!-- <img src = "static/images/welcome.jpeg"/ -->
        <div class = "row">
            <div class = "col-12">
                <p>The web application is entirely built on Python.The application involves the usage of Python's micro framework Flask. The web app can be used for doing various transformations on images 
                    like rotation,scaling etc.. </p>
            </div>
        </div>

    </div>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-6">
                <p><strong>  Please select one of the options </strong></p>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('scaling') }}">Scaling</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href="{{ url_for('rotation') }}">Rotation</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('facedetection') }}">Face Detection</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('edgedetection') }}">Edge Detection</a></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class = "row">
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('cornerdetection') }}">Corner Detection</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('grayconversion') }}">GrayScale Conversion </a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('imagesegmentation') }}">Image Segmentation</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('linedetection') }}">Line Detection</a></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class = "row">
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('circledetection') }}">Circle Detection</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('erosion') }}">Erosion</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('dilation') }}">Dilation</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('blurring') }}">Blurring</a></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class = "row">
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href="{{ url_for('foregroundextraction') }}">Foreground Extraction</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href="{{ url_for('laplacianderivative') }}">Laplacian Derivatives</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href = "{{ url_for('sobelderivative') }}">Sobel Derivative</a></p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text"><a href="{{ url_for('masking') }}">Masking</a></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>
