<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta name = "content" author = "Rigved Alankar">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='styles/style.css')}}">
    <title>Scaling</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <a class="navbar-brand" href="#">Image Processing using OpenCV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br>
    <br>
    <div>
        <div class="row text-center justify-content-center">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
      
              <form class="md-form" method="POST" action="/scalinguploader" enctype="multipart/form-data">
                <div class="file-field">
                  <div class="z-depth-1-half mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid"
                      alt="example placeholder">
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-mdb-color btn-rounded float-left">
                      <span>Choose file</span>
                      <input type="file" name="file">
                    </div>
                  </div>
                </div>
              </form>
      
            </div>    
    </div>
    <form method='POST' action='/scalingsuccess' enctype="multipart/form-data">

        <div class="form-group">
            <div class = "row">
                <div class = "col-sm-7">
                    <label for="label2">Enter the amount of scaling in the x direction</label>
                </div>
                <div class = "col-sm-4">
                    <input type = "number" class = 'form-control' name = "xdirection"> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class = "row">
                <div class = "col-sm-7">
                    <label for="label2">Enter the amount of scaling in the y direction</label>
                </div>
                <div class = "col-sm-4">
                    <input type = "number" class = 'form-control' name = "ydirection"> 
                </div>
            </div>
            <div class = "row justify-content-center">
              <input type="submit" value="Proceed"> 
            </div>
        </div>
    </form>

</body>
</html>